<!DOCTYPE html>
<html>
<head>
    <title>Transcription Result</title>
</head>
<body>
<h1>Transcription Result</h1>
<pre>{{ transcript }}</pre>
<a href="{{ path('app_upload') }}">Upload another file</a>
</body>
</html>